*{

    margin: 0;
    box-sizing: content-box;
    padding: 0;
}

body{

    /* background-color: #000; */
    background-image: url(bg.jpg);
  
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    backdrop-filter: blur(2px);  
    margin-bottom: 40px;
    height: auto;
    /* background-color: #f88888; */
}

nav{
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(200px,2fr) 5fr ;
    /* background: gray; */
    align-content: space-around;
    gap: 2px; 
     
}

.item{
    font-family: cursive;
    text-align: center;
    /* background-color: white; */
  
    padding: 10px;
   
}


 .navleft{
    font-weight: 800;
    font-size:19px;
 }

 .navright{
    font-size: 16px;
    grid-template-columns: repeat(6,1fr);
    display: grid;
 }

 nav a{
    text-decoration: none;
    color: #117f8d;
    text-shadow: 1px 1px 1px white;
    color: #117f8d;


 }
 nav a:hover{
    text-decoration: underline;

 }

 nav a:active{
    color: red;

 }


.details img{

    border-radius: 20px;
    border-top-left-radius: 107%;
    border-top-right-radius: 46%;
    border-bottom-left-radius: 438%;
    width: clamp(200px,70%,500px);
    height: 50vh;
   
}

.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}


 
.detailsleft{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
     
    
}
.detailsleft p{ 
    margin: 19px;
    color: currentColor;
    text-transform: capitalize;
    font-style: oblique;
     
    
}
.detailsright{
    display: flex;
    justify-content: end;
   
}

embed{

    width: clamp(280px,70vw,800px);
    height: 600px;
    margin: auto !important;
}

.abhayresume{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #117f8d;
    text-shadow: 1px 1px 1px blue;
    margin-top: 50px;
}
.abhayresume h2{

 font-size: 20px;
 text-align: center;
}


.smallfont{

    font-size: 40px;
}
.largefont{

    border-bottom: 2px solid black;
    font-size: 75px;
}

 @media (max-width:500px) {
    

    .navleft{
        font-weight: 600;
        font-size:16px;
     }
     .abhayresume h2{

        font-size: 14px;
       }
       
       


 }
 @media (max-width:700px) {
    

    .abhayresume h2{

        font-size: 16px;
       }
       
    
        
       embed{

        
        height: 450px;
    
    }
  

 }
 @media (max-width:800px) {
    
 
    .abhayresume h2{

        font-size: 18px;
       }
       

 }

 
 @media (max-width:600px )  {
    

    .navright{
         
        font-size:14px;
     }
     .details{
     grid-template-columns: none;
     grid-template-rows: 1fr 1fr;
     margin-top: 0px;
    
     gap: 31px;
 }
    .detailsleft{ 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
         
        
    }

    .detailsright{
        display: flex;
        justify-content: center;
       
    }

        
    embed{

        
        height: 350px;
    
    }

    

 }